/* Variables */
:root{
    --main-color: #eaa023;
    --dark: #0c1023;
    --dark-light: #191f3a;
    --white: #ffffff;
    --white-light: #c8c8c8;
    --shadow: 0 0 15px rgba(0,0,0,.25);
    scroll-behavior: smooth;
}

/* Global setting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
::before, ::after{
    box-sizing: border-box;
}
body {
    font-size: 16px;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
}
.container{
    max-width: 1170px;
    background-color: red;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

/* Header */
.header .logo {
    background-color: var(--main-color);
}
.header .nav-toggler{
    height: 34px;
    width: 44px;
}
